<header class="filters">
	<div class="appraised-range range">
		<h3>Appraised Value</h3>
		<label class="min">0</label>
		<span class="slider"></span>
		<label class="max">500000</label>
	</div>
</header>
<div class="listing">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="datey">Date</th>
				<th class="address">Address</th>
				<th class="appraised">Appraised Value</th>
				<th class="starting">Starting Bid</th>
				<th class="case">Case Number</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>