<div class="listing">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="datey" data-prop="date">
					Date
					<span class="sort-dir asc">▴</span>
				</th>
				<th class="address" data-prop="address">Address</th>
				<th class="appraised" data-prop="appraised">Appraised Value</th>
				<th class="starting" data-prop="startingBid">Starting Bid</th>
				<th class="case" data-prop="caseNumber">Case Number</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>