<header class="filters">
	<div class="appraised-range">
		<label class="min">0</label>
		<span class="slider"></span>
		<label class="max">500000</label>
	</div>
</header>
<div id="listing">HERE!</div>