body {
	padding-top: 50px;
}

.filters {
	h3 {
		font-size: 12pt;
		text-align: center;
		margin-bottom: 7px;
	}

	.range {
		width: 300px;
		
		.min {
			text-align: right;
		}
		
		.max {
			text-align: left;
		}
		
		.min, .max {
			display: inline-block;
			width: 55px;
		}
		
		.slider {
			width: 160px;
			display: inline-block;
			margin: 0 10px;
		}
	}
}

.auction {
	.appraised, .starting {
		text-align: right;
	}
}