html, body {
	height: 100%;
}

body {
	padding-top: 60px;
}

.listing {
	max-width: 1170px;
	margin: 0 auto;
}

.listing table th {
	cursor: pointer;
	
	.sort-dir {
		margin-left: 5px;
	}
}

.map {
	height: 85%;
	width: 95%;
	margin: 0 auto;
}

.filters {
	
	h3 {
		font-size: 12pt;
		text-align: center;
		line-height: 24px;
	}
	
	.filter {
		float: left;
	}
	
	.toggle {
		margin-left: 10px;
		
		label {
			filter:alpha(opacity=80); /* IE */
			opacity: 0.8; /* Safari, Opera */
			-moz-opacity:0.80; /* FireFox */
			
			span {
				padding: .1em 1em;
			}
		}
		
		label.ui-state-active {
			filter:alpha(opacity=100); /* IE */
			opacity: 1.0; /* Safari, Opera */
			-moz-opacity:1.00; /* FireFox */			
		}
	}

	.range {
		width: 300px;

		label {
			color: #999;
			margin-bottom: 3px;
		}
		
		.min {
			text-align: right;
		}
		
		.max {
			text-align: left;
		}
		
		.min, .max {
			display: inline-block;
			width: 55px;
		}
		
		.slider {
			width: 160px;
			display: inline-block;
			margin: 0 10px;
		}
	}
}

.num-matches {
	padding: 8px 20px 12px;
	font-size: 15pt;
	color: white;
}

.auction {
	.appraised, .starting {
		text-align: right;
	}
	
	.map {
		width: 20px;
		height: 20px;
		display: inline-block;
		background-image: url("../img/map_icon.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
}