body {
	padding-top: 60px;
}

.filters {
	label {
		color: #999;
		margin-bottom: 3px;
	}
	
	h3 {
		font-size: 12pt;
		text-align: center;
		line-height: 24px;
	}

	.range {
		width: 300px;
		
		.min {
			text-align: right;
		}
		
		.max {
			text-align: left;
		}
		
		.min, .max {
			display: inline-block;
			width: 55px;
		}
		
		.slider {
			width: 160px;
			display: inline-block;
			margin: 0 10px;
		}
	}
}

.num-matches {
	padding: 8px 20px 12px;
	font-size: 15pt;
	color: white;
}

.auction {
	.appraised, .starting {
		text-align: right;
	}
}